  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://github.com/yonaichin" class="icon fa-github">
          <span class="label">Github</span>
        </a></li>
        <li><a href="https://www.linkedin.com/in/yonaichin" class="icon fa-linkedin">
          <span class="label">LinkedIn</span>
        </a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; yonaichin</li>
        <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
        <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
      </ul>
      </div>
  </footer>
