  <!-- Header -->
          <header id="header" class="alt">
                  <h1><a href="index.html">Olly.W</a></h1>
          <!--         <a href="#nav">Menu</a> -->
          </header>

  <!-- Nav -->
          <nav id="nav">
                  <ul class="links">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="generic.html">Generic</a></li>
                          <li><a href="elements.html">Elements</a></li>
                  </ul>
          </nav>
