<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="landing">
    <h1>Billboard</h1>

        <!-- ==========================
        MODALS - START
    =========================== -->
    <section id="modal">
        <!-- ==========================
        MODAL SUBSCRIBE - START
    =========================== -->
      <div class="modal fade" id="aboutme" tabindex="-1" role="dialog" aria-labelledby="aboutme" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-body">
            <div class="container">
              <div class="row">

                <div class="col-md-12">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>About Me</h3>
                </div>

                <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                 <img src="image/icon3.png" class="img-responsive" alt="" />
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="aboutme_list">
                    <li>Web Developer</li>
                    <li>Focus on Front-end techniques</li>
                    <li>Understand Latest JS Framework</li>
                    <li>RWD application expierences</li>
                    <li>Capable of building REST API with RoR</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ==========================
        MODAL SUBSCRIBE - END
          =========================== -->

       <!-- ==========================
        MODAL CONTACT - START
    =========================== -->

      <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-body">
            <div class="container">
              <div class="row">

                <div class="col-md-12">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>Contact</h3>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                 <img src="image/icon1.png" class="img-responsive" alt="" />
                  <address class="email">
                    <a href="mailto:#">yonaichin@gmail.com</a>
                  </address>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
         <!-- ==========================
        MODAL CONTACT  - END
          =========================== -->

       <!-- ==========================
        MODAL WORK - START
         =========================== -->

      <div class="modal fade" id="work" tabindex="-1" role="dialog" aria-labelledby="work" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-body">
            <div class="container">
              <div class="row">

                <div class="col-md-12">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3>About my work</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="http://www.mis.ntpu.edu.tw" target="_blank">
                      <img src="image/ntpumis.png" class="img-responsive img-rounded" alt="" />
                    </a>
                    <h4>臺北大學資訊管理所網站</h4>
                    <p class="center-block">網站系統規劃、部署、上線</p>
                    <p class="center-block">React JS / Rails REST API</p>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="https://www.ls-ecommerce.com.tw/" target="_blank">
                      <img src="image/ls-ecommerce.png" class="img-responsive img-rounded" alt="" />
                    </a>
                    <h4>磊山保經旅平險網站</h4>
                    <p class="center-block">前端開發、金流介接</p>
                    <p class="center-block">jQuery / Pay2go / Coffeescript</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="http://leishan.taipei/" target="_blank">
                      <img src="image/ls-activity.png" class="img-responsive img-rounded" alt="" />
                    </a>
                    <h4>磊山保經活動網站</h4>
                    <p class="center-block">前端開發、金流介接</p>
                    <p class="center-block">jQuery / Pay2go / Coffeescript</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="http://www.locksure.com.tw" target="_blank">
                      <img src="image/locksure.png" class="img-responsive img-rounded" alt="" />
                    </a>
                    <h4>今湛企業有限公司</h4>
                    <p class="center-block">介面調整、功能維護</p>
                    <p class="center-block">Rails / jQuery / CSS3</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="https://speed-radars.herokuapp.com/" target="_blank">
                      <img src="image/speedradar.png" class="img-responsive img-rounded" alt="" />
                    </a>
                    <h4>測速照相列表</h4>
                    <p class="center-block">網站爬蟲技術擷取南極星網站之資訊</p>
                    <p class="center-block">Rails / Web Crawler</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
         <!-- ==========================
        MODAL WORK - END
          =========================== -->

    </section>

    <!-- ==========================
        MODALS - END
    =========================== -->
        <!-- ==========================
        CONTENT - START
    =========================== -->

    <div class="container">
        <div class="row" id="text"><!-- start of row text -->
          <div class="slogan">
            <h2>作品集</h2>
            <p>Hi, I'm <span class="highlight">Olly</span></p>
            <p>Here's are the collection of my participated projects.</p>

            <a class="btn btn-primary" data-toggle="modal" data-target="#work">Learn More</a>

           </div>
        </div><!-- end of row text -->


    </div><!-- end of container -->

  <% include ../partials/footer.ejs %>
  <% include ../partials/common-scripts.ejs %>
</body>
</html>
