<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="landing">
  <!-- Banner -->
  <% include ../partials/nav.ejs %>
          <section id="banner">
          <!-- <i class="icon fa-diamond"></i> -->
            <h2>作品集</h2>
            <p>The lists of participated projects</p>
            <ul class="actions">
                    <li><a href="#gallery" class="button big special">Learn More</a></li>
            </ul>
          </section>

  <!-- One -->
          <section id="gallery" class="wrapper style1">
                  <div class="inner">
                    <article class="feature left">
                    <span class="image"><img src="images/ntpumis.png" alt="" /></span>
                      <div class="content">
                              <h2>國立臺北大學資訊管理所網站</h2>
                              <p>負責規劃網站架構設計(包含前後台功能)、部署與上線</p>
                              <ul>
                                <li>Front End : Build on React JS</li>
                                <li>Back End : Build on Rails API</li>
                              </ul>
                              <ul class="actions">
                                <li>
                                  <a href="http://www.mis.ntpu.edu.tw" target="_blank" class="button alt">Go</a>
                                </li>
                              </ul>
                      </div>
                    </article>
                    <article class="feature right">
                      <span class="image"><img src="images/ls-ecommerce.png" alt="" /></span>
                      <div class="content">
                              <h2>磊山保經旅平險網站</h2>
                              <p>參與網站前端功能開發與金流介接</p>
                              <ul>
                                <li>Rails Project</li>
                              </ul>
                              <ul class="actions">
                                <li>
                                  <a href="https://www.ls-ecommerce.com.tw/" target="_blank" class="button alt">Go</a>
                                </li>
                              </ul>
                      </div>
                    </article>
                    <article class="feature left">
                      <span class="image"><img src="images/ls-activity.png" alt="" /></span>
                      <div class="content">
                              <h2>磊山保險活動網站</h2>
                              <p>參與網站前端功能開發</p>
                              <ul>
                                <li>Rails Project</li>
                              </ul>
                              <ul class="actions">
                                <li>
                                  <a href="http://leishan.taipei/" target="_blank" class="button alt">Go</a>
                                </li>
                              </ul>
                      </div>
                    </article>
                    <article class="feature right">
                      <span class="image"><img src="images/locksure.png" alt="" /></span>
                      <div class="content">
                              <h2>今湛企業有限公司 Locksure Inc.</h2>
                              <p>負責網站功能之規劃及其介面功能調整</p>
                              <ul>
                                <li>Rails Project</li>
                              </ul>
                              <ul class="actions">
                                <li>
                                  <a href="http://locksure-prod.ddns.net" target="_blank" class="button alt">Go</a>
                                </li>
                              </ul>
                      </div>
                    </article>
                    <article class="feature left">
                      <span class="image"><img src="images/speedradar.png" alt="" /></span>
                      <div class="content">
                              <h2>測速照相列表</h2>
                              <p>運用網站爬蟲技術，去讀取南極星網站之測速照相列表</p>
                              <ul>
                                <li>Rails Project</li>
                                <li>Web Crawler</li>
                              </ul>
                              <ul class="actions">
                                <li>
                                  <a href="https://speed-radars.herokuapp.com/" target="_blank" class="button alt">Go</a>
                                </li>
                              </ul>
                      </div>
                    </article>
                  </div>
          </section>

          <section class="wrapper style3 special">
            <div class="inner">
              <header class="major narrow">
                <h2>關於我</h2>
                <p>About Me</p>
              </header>
              <p>Web Developer</p>
              <p>Focus on Front-end techniques</p>
              <p>Understand React with flux & redux</p>
              <p>Familiar with git versioning</p>
              <p>Capable of building REST API</p>
            </div>
          </section>

          <section class="wrapper style2 special">
            <div class="inner">
            <header class="major narrow">
                    <h2>Get in touch</h2>
                    <p><i class="fa fa-envelope-o"></i> yonaichin@gmail.com</p>
            </header>
            </div>
          </section>

  <% include ../partials/footer.ejs %>
  <% include ../partials/common-scripts.ejs %>
</body>
</html>
